.card {
    width: 380px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.main img{
    border-radius: 20px 20px 0 0;
    height: 230px;
    width: 100%;
}

.side img{
    border: 5px solid white;
    position: relative;
    bottom: 15px;
    z-index: 10;
    margin-left: 30px;
    width: 100px;
    height: 80px;
    border-radius: 10px;
    display: inline-block;
}

.side {
    display: inline-block;
    /* justify-content: space-around; */
}

.side h3{
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
}